.footer {
  grid-column: -1 / 1;
  margin-top: 6rem;
  background-color: $dark;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  &__socials {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;

    @media (max-width: $bp-600) {
      flex-direction: column;
    }
  }

  &__icon {
    margin-right: 2rem;
    @media (max-width: $bp-600) {
      padding: 1rem;
    }
    // fill: $blu;
    // color: $blu;

    &:nth-child(3) {
      margin-right: 6rem;
    }
    @media (max-width: $bp-600) {
      margin: 0;
      // flex-direction: column;
      // justify-content: space-evenly;
      // align-items: space-evelny;
    }
  }

  &__licence {
    text-align: center;
    font-size: 1.2rem;
    padding: 0rem 5rem 0.5rem 5rem;

    @media (max-width: $bp-600) {
      padding: 1rem 5rem 2rem 5rem;
    }
  }
}

.zone {
  color: $bluw;
  background-color: $black;
  padding: 0.35rem;
  margin: 0 0.5rem;
  // text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;

  font-weight: bold;
  // font-family: "Kaushan Script", cursive;
}

svg {
  width: 40px;
  height: 40px;
}

.creators {
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  // background-color: #f2c25f;
  color: #db6338;
  font-family: "Sedgwick Ave", cursive;
  font-size: 1.75rem;
}

.authors {
  @media (max-width: $bp-600) {
    padding: 1rem 5rem 2rem 5rem;
  }
}
