*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
$primaryBlack: #2f3542;
$blackLight: #57606f;
$primaryRed: #ff4757;
$redLight: #ff6b81;
$orange: #ff6348;
$orangeLight: #ff7f50;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  // height: 2000px;
}

$bp-1400: 87.5em; //1400px
$bp-1300: 81.25em; //1300px
$bp-1200: 75em; //1200px
$bp-1100: 68.75em; // 1100px
$bp-1000: 62.5em; //1000px
$bp-800: 50em; //800px
$bp-500: 31.25em; // 500px
