*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
$bp-1400: 87.5em; //1400px
$bp-1300: 81.25em; //1300px
$bp-1200: 75em; //1200px
$bp-1100: 68.75em; // 1100px
$bp-1000: 62.5em; //1000px
$bp-800: 50em; //800px
$bp-600: 37.5em; // 600px
$bp-400: 25em; //400px

$primaryBlack: #2f3542;
$blackLight: #57606f;
$primaryRed: #ff4757;
$redLight: #ff6b81;
$orange: #ff6348;
$orangeLight: #ff7f50;

html {
  font-size: 62.5%; // 10px
  box-sizing: border-box;

  @media (max-width: $bp-1000) {
    font-size: 50%;
  }
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  // height: 2000px;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content minmax(min-content, 20vh);
  grid-template-columns:
    1fr [ad-start] minmax(min-content, 14rem) [ad-end]
    1fr [col-start] repeat(8, minmax(min-content, 14rem))
    [col-end]
    1fr minmax(min-content, 14rem) 1fr;
  // justify-content: center;
  background-color: #2f3542;
  // background-image: linear-gradient(to right bottom, #2f3542, #57606f) ;
}
