.main {
  grid-column: col-start / col-end;

  // display: grid;
  display: flex;
  // justify-content
  flex-direction: column;

  // grid-template-columns:
  //   [main-start] repeat(8, minmax(auto-fit, 14rem))
  //   [main-end] 1fr;

  // grid-template-rows: repeat(2, min-content);

  &__heading {
    // font-family: "Kaushan Script", cursive;
    font-family: "Poiret One", cursive;
    font-weight: light;
    letter-spacing: 10px;
    font-size: 6.5rem;
    text-align: center;
    justify-content: center;
    padding: 5rem 0;
    grid-column: main-start / main-end;
    background: linear-gradient(to right bottom, $bluw, $blu);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px #222);
    position: relative;
  }
}
// .kurwa {
//   grid-column: col-start2 / col-end2;
// }
.swiper {
  &-container {
    // width: 100%;
    width: 1200px;
    height: 400px;
    @media screen and (max-width: $bp-1200) {
      width: 1000px;
    }

    @media screen and (max-width: $bp-1000) {
      width: 800px;
      height: 350px;
    }
    @media screen and (max-width: $bp-800) {
      width: 600px;
      height: 400px;
    }
    @media screen and (max-width: $bp-600) {
      width: 280px;
      height: 400px;
    }
  }
  &-slide {
    position: relative;
    height: 390px;
    @media screen and (max-width: $bp-1000) {
      height: 340px;
    }
    @media screen and (max-width: $bp-800) {
      height: 390px;
    }
    @media screen and (max-width: $bp-600) {
      height: 390px;
    }

    &__box {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // background-color: rgba(34, 34, 34, 0.85);
      background-color: $dark;

      border-radius: 5px;
      // border: 4px solid $primaryRed;
      // z-index: 100;
      box-shadow: 5px 5px 0px $bluw;

      @media screen and (max-width: $bp-600) {
        box-shadow: 0px 5px 0px $red;
      }
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 75%;
    height: 70%;
    border-radius: 5px;

    // position: relative;

    &--shadow {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 70%;
      transform: translate(-50%, -60%);
      background-color: rgba(247, 56, 88, 0.2);
      border-radius: 3px;
      // border: 8px solid $primaryBlack;
    }

    &__btn {
      position: absolute;
      // top: 100%;
      bottom: -25%;
      width: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      background-image: linear-gradient(to right bottom, $bluw);

      // transform: translate(0%, 0%);
    }
  }

  &-button-next {
    color: $bluw;
    // width: 100px;
    font-weight: bold;
  }
  &-button-prev {
    color: $bluw;
    font-weight: bold;
    // text-shadow: 10px 6px 20px rgba(0, 0, 0, 1);
  }
  &-pagination-bullet-active {
    // background: #ff4757;
    background: white;
  }
}
