.advertisement {
  width: 100%;
  //   background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  //

  &__img {
    border: solid 5px $red;
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: $bp-800) {
    // display: flex;
    flex-direction: column;
  }

  &__left {
    grid-column: ad-start / ad-end;
    grid-row: 2 / 3;
  }
  &__right {
    grid-column: ad2-start / ad2-end;
    grid-row: 2 / 3;
  }
}
